@tailwind base;
@tailwind components;
@tailwind utilities;

// 
@layer base {
    body {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(26px/16px);
        color: $text;
        font-family: $font-1;
        background-color: $bg;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-heading font-inter font-semibold;
    }

    h4 {
        @apply text-lg;
    }

    img {
        max-width: 100%;
    }

    [data-slate-node="element"] {
        list-style: auto;
        padding-left: 4px;
        margin-left: 12px;
    }

    a {
        text-decoration: none;
        @include transition;
    }

    input,
    textarea,
    button {
        outline: none;
        @include transition;

        &:focus {
            outline: none;
        }
    }

    /*Hide number spin button*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .btn {
        @apply px-5 font-inter font-medium text-sm inline-flex items-center justify-center min-w-[135px] h-10 bg-transparent border border-solid border-stroke rounded-[10px] text-heading;
        // box-shadow: 0px 1px 2px 0px rgba(90, 54, 191, 0.48);       

        &:hover {
            @apply bg-primary border-primary scale-105 text-white;
        }

        &.bg-off {
            @apply border-primary text-primary hover:text-white
        }

        &.bg-prim {
            @apply text-white bg-primary border-primary
        }

        &.shadow {
            border-color: transparent;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), #7856FF;
            box-shadow: 0px 1px 2px 0px rgba(90, 54, 191, 0.48), 0px 0px 0px 1px #6E3FF3;
        }
    }

    .overflow-y-auto,
    .overflow-x-auto {
        @include custom-scroll(var(--scroll-width, 6px));

        @include sm {
            --scroll-width: 3px;
        }
    }

    #root {
        overflow: hidden;
    }
}