@layer utilities {
    .table {
        @apply w-max min-w-full;
        & thead {
            @apply bg-[#F6F8FA] sticky top-0 left-0 w-full z-[1];
            & tr {
                & th {
                    @apply py-2 px-3 text-start font-inter font-normal text-sm text-[#525866] capitalize;
                }
            }
        }
        & tbody {
            & tr {
                @apply transition-all duration-300 border-b border-solid border-stroke;
                &:hover {
                    @apply bg-[#F6F8FA]/50;
                }
                & td {
                    @apply py-[13px] px-3 font-inter font-normal text-sm text-[#858585];
                }
            }
        }
    }
}