@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$font-1: "Inter",
sans-serif;
$white:#fff;
$black:#000;
$primary: #7857FF;
$secondary: #050505;
$text:#858585;
$heading: #0B0C14;
$border:#E2E4E9;
$bg:#FFFFFF;